<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <mat-card>
                <form
                    class="text-center"
                    [formGroup]="signInForm"
                    #signInNgForm="ngForm">
        
                    <mat-form-field class="input-group">
                        <mat-label class="">Correo electrónico</mat-label>
                        <input
                            id="user"
                            class=""
                            matInput
                            [formControlName]="'user'">
                        <mat-error *ngIf="signInForm.get('user')?.hasError('required')">
                            El usuario es requerido
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="input-group">
                        <mat-label class="">Password</mat-label>
                        <input
                            id="password"
                            matInput
                            class=""
                            type="password"
                            [formControlName]="'password'"
                            #passwordField>
                        <mat-error>
                            Contraseña es requerida
                        </mat-error>
                    </mat-form-field>
                    <button
                        class="btn btn-primary"
                        mat-flat-button
                        [disabled]="signInForm.disabled"
                        (click)="signIn()">
                        <span class="" *ngIf="!signInForm.disabled">
                            Ingresar
                        </span>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
